#visualization-container{
	border: 2px solid black;
	background: fuchsia;
	height: 500px;
	display: block;
}

.flexitem{
	border: 10px solid black;
	background: cyan;
	height: 100px;
	width: 100px;
	margin: 5px;
}
